.card {
    position: relative;
    overflow: hidden;
    margin: var(--space-rem) 0;
    background: #fff;
}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: 1px solid rgba(33,37,41,.2);
    pointer-events: none;
}
.card__cover {
    position: relative;
    margin: 0;
}
.card__block {
    position: relative;
    padding: 0 var(--space-em);
    overflow: hidden;
}
.card__block:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--space-em);
    right: var(--space-em);
    display: block;
    height: 1px;
    background: rgba(33,37,41,.2);
}
.card__block:last-child:after {
    display: none;
}
