* {
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
html {
    font-size: var(--base-size);
}
body {
    margin: 0;
    font: 300 1em/1.5 sans-serif;
    background: var(--color-gray-lightest);
}
h1,h2,h3,h4,h5,h6,ul,ol,p,table,label {
    margin: var(--space-y) 0 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: calc(var(--space-y)/2) 0;
}
strong {
    font-weight: 500;
}
img {
    display: block;
    width: 100%;
    outline: none;
}
a,
button {
    outline: none;
}
input,
select,
button {
    font: inherit;
}
svg {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: top;
}
