/*
    <picture class="picture picture--{{modifier}}">
        <source>
        <img>
    </picture>
    note: can be something else than picture element
*/
.picture {
    position: relative;
    display: block;
    padding-bottom: 50%;
    overflow: hidden;
    background: rgba(33,37,41,.2);
}
.picture source,
.picture img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    outline: none;
}

/* Modifiers*/

.picture--portrait {
    padding-bottom: 150%;
}
.picture--landscape {
    padding-bottom: 66.6665%;
}
.picture--wide {
    padding-bottom: 50%;
}
.picture--superwide {
    padding-bottom: 25%;
}
.picture--square {
    padding-bottom: 100%;
}
.picture--circle {
    padding-bottom: 100%;
    border-radius: 50%;
}
