.post {
    position: relative;
    margin-top: 1em;
    background: #fff;
    overflow: hidden;
}
.post:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: 1px solid var(--oc-gray-3);
    pointer-events: none;
}
.post__block {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 var(--space-rem) var(--space-y);
}
@media(min-width: 768px) {
    .post__block {
        position: relative;
        max-width: 640px;
        margin: 0 auto;
        padding: 0 var(--space-rem) var(--space-y);
    }
}
.post__block:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    display: block;
    height: 1px;
    background: var(--oc-gray-3);
}
.post__block:last-child:after {
    display: none;
}
