:root {

    --color-gray-dark: var(--oc-gray-9);
    --color-gray: var(--oc-gray-6);
    --color-gray-light: var(--oc-gray-3);
    --color-gray-lightest: var(--oc-gray-2);

    --color-info: var(--oc-blue-8);
    --color-info-darker: var(--oc-blue-9);
    --color-info-light: var(--oc-blue-7);
    --color-info-lighter: var(--oc-blue-3);
    --color-info-lightest: #ccedff;
    --color-success: #2f9e44;
    --color-success-darker: #2b8a3e;
    --color-success-lighter: #8ce99a;
    --color-success-lightest: #d3f9d8;
    --color-warning: #f08c00;
    --color-warning-darker: #e67700;
    --color-warning-lighter: #ffe066;
    --color-warning-lightest: #fff3bf;
    --color-danger: #e03131;
    --color-danger-darker: #e03131;
    --color-danger-lighter: #ffa8a8;
    --color-danger-lightest: #ffe3e3;

    --color-primary: var(--color-success);
    --color-primary-darker: var(--color-success-darker);
    --color-secondary: var(--color-info);
    --color-secondary-darker: var(--color-info-darker);

    --base-size: 16px;

    --space-x: 1rem;
    --space-y: 1em;
}
